.lf_aboutLayoutContainer {
    background-color: var(--background-color2);
}
.lf_aboutLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.lf_work_experience_contents {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: end;
    .lf_work_experience_img {
        width: 20%;
        img {
            width: 100%;
            display: block;
        }
    }
}

.lf_work_experience_txt {
    display: flex;
    flex: 0.5;
    gap: 1rem;
    .txt {
        width: 50%;
    }
}
.lf_aboutText {
    width: 50%;
    border-radius: var(--base-radius);
    color: var(--black-color);
    font-size: 4rem;
    line-height: 3.5rem;
}

@media screen and (orientation: portrait) {
    .lf_aboutText {
        width: 100%;
    }
    .lf_aboutContents {
        flex-direction: column;
        align-items: center;
    }

    .lf_work_experience_contents {
        flex-direction: column;
        .lf_work_experience_img {
            width: 30%;
        }
    }

    .lf_work_experience_txt {
        width: 100%;
        flex-direction: column;
        .txt {
            width: 100%;
        }
    }
}
