* {
    --login_layout_width: 500px;
}
.lf_adminLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
.lf_login_img {
    display: block;
    max-width: var(--login_layout_width);
    width: 50%;
    margin: 0 auto;
}
.lf_login_form {
    max-width: var(--login_layout_width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    margin-top: 1rem;
}
.lf_admin_input {
    width: 100%;
    padding: 0.4rem;
}
