.lf_adminLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.lf_loginArea form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}
