/*=============== 눈누 FONTS ===============*/

@font-face {
    font-family: 'LOTTERIADDAG';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}

/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*=============== BASE ===============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 라이트 모드 */
:root {
    --background-color: #2463dd;
    --background-color2: #f6f9ff;
    --text-color: #000;
    --main-color: #ffd2d2;
    --sub-color: #c9d8b7;
    --point-color: #fc3d03;
    --deep-color: #3021a5;
    --light-background-color: #dedede;
    --nav-color: #000000c3;
    --font-size-base: 15px;
    --font-design-base: Pretendard-Regular;
    --sumnail-size: 30%;
    --base-radius: 10px;
    --input-box-color: #efefef;
    --line-height: 1.5;
    --point-font: 'LOTTERIADDAG';
    --base-inputSize: 250px;
    --header-height: 3.5rem;
    --content-width: 95%;
    --content-maxWidth: 1200px;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: #f2f2f2;
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 64%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Bai Jamjuree', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    --font-pointTtitle: 3rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (max-width: 1150px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 3rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
        --font-pointTtitle: 3rem;
    }
}
/*========== Responsive typography ==========*/

/* dark mode */
.dark-mode {
    --background-color: #101010;
    --background-color2: #282a2d;
    --text-color: #e0e0e0;
    --main-color: #282828;
    --deep-color: #0f0a31;
    .gf_logo {
        img {
            filter: brightness(1);
        }
    }
    .gf_navi {
        .gf_link {
            color: var(--white-color);
        }
    }
    .gf_header,
    .gf_title,
    label {
        color: var(--white-color);
    }
}

html {
    font-size: var(font-size-base);
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: var(--font-design-base);
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: background-color 0.4s;
}
h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    all: unset;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
textarea {
    font: inherit; /* 부모 폰트 상속 */
}

table {
    border-collapse: collapse; /* 테이블 셀 간격 제거 */
}

.gf_title {
    font-family: var(--point-font);
    font-size: var(--font-pointTtitle);
    line-height: var(--font-pointTtitle);
    color: var(--title-color);
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.gf_logo {
    max-width: 50px;
    width: 10%;
    img {
        filter: brightness(0.1);
        display: block;
    }
}

.gf_desc {
    font-size: 0.9rem;
    color: #dedede;
}
.gf_contentArea {
    margin: 0 auto;
    max-width: var(--content-maxWidth);
    width: var(--content-width);
    padding-top: 7rem;
    padding-bottom: 3rem;
}
.gf_fixed {
    position: fixed;
}
.gf_flex {
    display: flex;
}
.gf_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    --gap: 1.5%;
    gap: var(--gap);

    .gf_content {
        position: relative;
        max-width: calc((100% - (2 * var(--gap))) / 3);
        min-width: calc((100% - (2 * var(--gap))) / 3);
        background-color: var(--white-color);
        margin-bottom: 1rem;
        .title {
            font-weight: bold;
            padding: 0.1rem 0;
        }
        .desc {
            font-size: 0.8rem;
        }

        .setting_btns {
            position: absolute;
            z-index: 50;
            right: 0;
            top: 0;
        }
    }

    @media screen and (max-width: 800px) {
        .gf_content {
            max-width: calc((100% - (2 * var(--gap))) / 2);
            min-width: calc((100% - (2 * var(--gap))) / 2);
        }
    }

    @media screen and (max-width: 500px) {
        .gf_content {
            max-width: calc((100% - (2 * var(--gap))) / 1);
            min-width: calc((100% - (2 * var(--gap))) / 1);
        }
    }
}
.gf_point_color {
    color: var(--point-color);
}
.gf_contentImgArea {
    width: 100%;
    aspect-ratio: 16 / 9; /* 16:9 비율 */
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}
.gf_light_background {
    background-color: var(--light-background-color);
}
.gf_input__box {
    position: relative;
    width: 100%;
    height: 38px;
}

.gf_input {
    position: relative;
    border: 1px solid var(--input-box-color);
    border-radius: var(--base-radius/2);
    background-color: white;
}
.gf_input_label {
    position: absolute;
    top: 8px;
    left: 10px;
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    background-color: var(--black-color);
    padding: 8px;
    pointer-events: none;
    transition:
        top 0.4s,
        opacity 0.4s,
        background-color 0.4s;
    opacity: 0;
}
/* Move label up & sticky label */
.gf_input:focus + .gf_input_label,
.gf_input:not(:placeholder-shown) .gf_input:not(:focus) + .gf_input_label {
    opacity: 1;
    top: -16px;
}

.gf_header {
    position: fixed;
    width: 100%;
    top: -1px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.078);
    margin: 0px;
    transition: all 0.3s;
    color: black;
    backdrop-filter: blur(10px);

    &.isSticky {
        background-color: var(--white-color);
        /* top: 0.5rem;
        margin: 0.2rem 0.5rem;
        border-radius: var(--base-radius); */
    }
    .gf_link {
        color: black;
    }
}
/* 네비 공통 스타일 */
.gf_navi {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.gf_link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
}

/* 버튼 공통 스타일 */
.gf_btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-base);
    border-radius: var(--base-radius);
    transition: all 0.3s;
}

/* 버튼 상태 스타일 */
.gf_btn_normal {
    background-color: #f0f0f0;
    color: #333;
}
.gf_btn_warning {
    background-color: #ffce1e;
    color: #333;
}
.gf_btn_delete {
    background-color: #ff0000;
    color: #fff;
}

.gf_btn_success {
    background-color: #28a745;
    color: #fff;
}

.gf_btn_modify {
    background-color: #ffaa00;
    color: #fff;
}

.gf_btn_upload {
    background-color: #008cff;
    color: #fff;
}
.gf_btn:hover {
    filter: brightness(10);
}
/* 크기 스타일 */
.gf_btn_small {
    font-size: 0.8rem;
    padding: 5px 10px;
}

.gf_btn_large {
    font-size: 1.2rem;
    padding: 15px 30px;
}

.gf_btn_rounded {
    border-radius: 50px;
}

.gf_userState {
    background-color: rgb(151, 255, 113);
    color: #000;
    padding: 0.5rem;
    border-radius: var(--base-radius);
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    border: 1px solid black;
    text-align: center;
}

.gf_logoutBtn {
    background-color: var(--point-color);
    padding: 0.5rem;
    border-radius: var(--base-radius);
    color: white;
}

.gf_formLayout {
    z-index: 100;
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: var(--base-radius);

    .gf_form {
    }
    .gf_formTitle {
        font-weight: bold;
        width: 100%;
        display: block;
    }
}
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
section.has-scroll-smooth {
    overflow: hidden;
}

section.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction='horizontal'] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction='horizontal'] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition:
        transform 0.3s,
        opacity 0.3s;
    opacity: 0;
}
.c-scrollbar:hover {
    transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}
[data-scroll-direction='horizontal'] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}
[data-scroll-direction='horizontal'] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
[data-scroll-direction='horizontal'] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    :root {
        --font-size-base: 12px;
        --font-pointTtitle: 2rem;
    }
}

* {
    --border-color: #dddddd;
}

.checkbox-label {
    display: block;
    background: var(gray);
    height: 20px;
    width: 50px;
    border-radius: 20px;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 0 2px var(--border-color);

    .on,
    .off {
        display: block;
        position: absolute;
        z-index: 0;
        min-width: 300px;
        line-height: 20px;
        transition: all 0.3s ease-in-out;
    }

    .on {
        left: 0;
        opacity: 0;
        color: var(green);
    }

    .off {
        right: 100px;
        text-align: right;
        opacity: 1;
        color: #bbbbbb;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        border-radius: 20px;
        height: 20px;
        width: 20px;
        background: white;
        box-shadow:
            0 3px 3px rgba(0, 0, 0, 0.2),
            0 0 0 2px var(--border-color);
        transition: left 0.3s ease-in-out;
    }
}

.checkbox {
    position: absolute;
    left: -5000px;

    &:checked + .checkbox-label {
        background: var(--point-color);
        box-shadow: 0 0 0 2px var(--point-color);

        .on {
            left: 100px;
            opacity: 1;
        }

        .off {
            right: 0;
            opacity: 0;
        }

        &:before {
            left: 30px;
            box-shadow:
                0 3px 3px rgba(0, 0, 0, 0.2),
                0 0 0 2px var(--point-color);
        }
    }
}

.checkbox.blue {
    + .checkbox-label .on {
        color: var(--background-color);
    }

    &:checked + .checkbox-label {
        background: var(--background-color);
        box-shadow: 0 0 0 2px var(--background-color);

        .on {
            left: 100px;
            opacity: 1;
        }

        .off {
            right: 0;
            opacity: 0;
        }

        &:before {
            left: 30px;
            box-shadow:
                0 3px 3px rgba(0, 0, 0, 0.2),
                0 0 0 2px var(--background-color);
        }
    }
}
