/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root{
  --main-color:#ebefd6;
  --sub-color:#c9d8b7;
  --point-color:#9cb395;
  --deep-color:#5c6e56;
  --max-width:1200px;
  --font-size-base:15px;
  --font-design-base:Arial, sans-serif;
  --font-color-base:#1b1b1b;
  --sumnail-size: 33%;
  --radius-base:10px;
  --input-box-color:#efefef;
}

html {
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  font-size: var(font-size-base); /* 기본 폰트 크기 설정 */
  -webkit-text-size-adjust: 100%; /* 텍스트 크기 조정 방지 */
}

body {
  font-family: var(--font-design-base); /* 기본 폰트 설정 */
  line-height: 1.5; /* 텍스트 줄 간격 */
  color: var(--font-color-base); /* 기본 글자색 */
  background-color: #fff; /* 기본 배경색 */
  -webkit-font-smoothing: antialiased; /* 텍스트 렌더링 부드럽게 */
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: inherit; /* 부모의 색상 상속 */
}

button {
  all: unset; /* 버튼 기본 스타일 제거 */
  cursor: pointer; /* 클릭 가능한 버튼 스타일 */
}

ul,
ol {
  list-style: none; /* 리스트 스타일 제거 */
}

img {
  max-width: 100%; /* 이미지를 부모 요소 크기에 맞게 조정 */
  height: auto; /* 이미지 비율 유지 */
  display: block;
}

input,
textarea {
  font: inherit; /* 부모 폰트 상속 */
}

table {
  border-collapse: collapse; /* 테이블 셀 간격 제거 */
  width: 100%;
}

.gf_contentArea{
  margin: 0 auto;
  max-width: var(--max-width);
  background-color: var(--sub-color);
  padding: 5px 20px;
}

.gf_contents{
    display:flex;
    flex-wrap: wrap;
    gap:1%;
    
    .gf_content{
        max-width: 33%;
        border-radius: var(--radius-base);
        background-color: rgb(255, 255, 255);
        padding:1%;
        .title{
            font-weight: bold;
            padding: .5rem 0;
        }
    }
}

.gf_contentImgArea{
    width: 100%;
    aspect-ratio: 16 / 9; /* 16:9 비율 */
    position: relative;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}

.gf_btn{
    width: fit-content;
    background-color: var(--deep-color);
    color:white;
    padding: 10px 20px;
    border: var(--radius-base);
}

.gf_input{
    border-color: var(--input-box-color);
    border-radius: var(--radius-base);
}

.gf_header{
        position: sticky; 
        top: 0px; 
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--deep-color);
        color: white;
        border-radius: 0px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        margin: 0px;
        transition: all 0.3s ;

    &.isSticky{
        top: 10px;
        margin: .2rem;
        border-radius: var(--radius-base);
    }
}

/* admin.js */
.lf_loginArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
